{% extends "base.html" %}

{% block pagetitle %}CLIENTES{% endblock pagetitle %}

{% block toolbar %}
{# <a href="{% url 'crear_cliente' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Agregar Cliente</a> #}
<button type="button" name="button" class="btn btn-primary" id="btnagregar">Agregar</button>
{% endblock toolbar %}

{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in lista %}
          <tr>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>
              <a href="{% url 'editar_cliente' cliente.dni %}">Edit</a>
              <span>|</span>
              {# <a class="btneliminar" href="{% url 'eliminar_cliente' cliente.dni %}">Eliminar</a> #}
              <button type="button" name="button" class="btn btn-danger btneliminar" id="{{ cliente.dni }}">Delete</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include "modal.html" %}
{% endblock contenido %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $(".btneliminar").on("click", function(){
      $('#myModal').modal('toggle')
      $(".modal-body").load("/clientes/eliminar/"+this.id)
    })

    $("#btnagregar").on("click", function(){
      $('#myModal').modal('toggle')
      $(".modal-body").load("/clientes/agregar/")
    })
  })
</script>
{% endblock js %}
